.login {
  background: $dark;

  header {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    background: $main-color1;
    position: fixed;
    padding: .8rem 0;

    a:hover {
      text-decoration: underline;
    }
  }
}