.tech {
  background: $main-color1;

  ul {
    text-align: center;
  }

  &__container {
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 8rem;

    h2 {
      margin: 3rem 0;
      text-align: center;
      font-weight: 500;
      color: $grey;
    }

    @media screen and (max-width: 920px) {
      width: 95%;
    }

    @media screen and (max-width: 420px) {
      width: 90%;
    }
  }
}