.btn {
  padding: .5rem .8rem;
  border-radius: 6rem;
  background: $secondary-color;
  transition: .3s;

  &:hover {
    background: lighten($secondary-color, 5%);
  }

  &--transparent {
    background: none;
    border: 1px solid #fff;
    padding: .4rem 1.8rem;
    transition: .2s;

    &:hover {
      background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
      border-color: $secondary-color;
    }
  }
}
