mixin nav(num=0)
  .topBar 
    .topBar-container
      span.topBar-menu 
        i.fas.fa-bars
      a(href='/login').btn Log out
  nav(role='navigation' data-num=num).sideNav
    a(href='/tech') 
      i.fas.fa-code 
      span Techs
    a(href='/challenge') 
      i.fas.fa-book-open 
      span Challenge
    a(href='/project') 
      i.fas.fa-file
      span Projects
