// Colors

$main-color: #1e2a31;
$main-color1: #22313a;
$secondary-color: #04a2b3;
$dark: #2b3942;
$highlight: rgba(255,255,255,.025);
$grey: #b4bfc3;
$secondary-grey: #8a9ba1;
$another-grey: #d1d6d9;
$darker-white: rgba(255, 255, 255, .25);
$another-white: rgba(255,255,255,.07);
$card-color: #edeff0;
$error:#b32d00;

